nav {
  background-color: #fff !important;
}

body {
  background-color: #f4f4f4 !important;
}

ul li a {
  color: #666 !important;
}

ul li {
  color: #666 !important;
}

.brand-logo {
  color: #666 !important;
}

span {
  margin-right: 0.35em !important;
}

.card-action {
  color: #666 !important;
}

footer {
  padding-top: 100px;
  text-align: center;
}

.movedown {
  padding-top: 75px;
}

.brand-logo {
  /*width: 170px;*/
  max-height: 70px;
}

.card-content {
  padding: 12px !important;
}

ul li .right {
  color: #fff !important;
}

nav.nav-extended .nav-wrapper {
  max-height: 65px
}